@mixin spinner($width: 120px, $height: 120px, $border-width: 2px, $border-color: #000){

    @include animation(spin, 1.5s, linear, 0, infinite);
    position: relative;
    width: $width;
    height: $height; 
    //margin: 100px auto 0;
    
    border: $border-width solid $border-color;
    border-radius: 50%;


    &:after {
        content:"";
        width: 85%;
        height: 85%;
        background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,0.7) 60%, rgba(255,255,255,0) 100%);
        position: absolute;
        top:0;
        left: 0;
        transform: translate(-5%,-5%);
    }

    &.moon {
        &:after {
            display: none;
        }
        border-left: 0;
        border-top: 0;
    }
}
@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}